<div class="text-xl px-5 py-16 w-full flex justify-center gap-10">
  <div class="w-fit">
    <div class="flex justify-between md:justify-start items-center gap-9 mb-5">
      <input [(ngModel)]="searchText"
             class="rounded-md p-4 focus:ring-0 focus:ring-green-600 focus:border-green-600 focus:border-2 w-1/3 md:w-fit placeholder:text-sm md:placeholder:text-base"
             type="search"
             name="item-search" id="item-search" placeholder="Search for an item...">
      <div *ngIf="collectionMode">
        <p class="text-2xl">Items collected</p>
        <p>
          {{(completedItems | async)?.length}} / {{items.length}}
          <span
            class="text-sm text-gray-500">{{(((completedItems | async)?.length || 0) / items.length * 100).toPrecision(2)}}
            %</span>
        </p>
      </div>
      <button (click)="handleMenu()" class="rounded bg-gray-100 p-3 h-fit flex justify-center items-center hover:bg-gray-200 relative">
        <div *ngIf="numberOfSelectedFilters"
             class="absolute -right-2 -top-2 rounded-full w-6 h-6 bg-emerald-400 text-white">{{numberOfSelectedFilters}}</div>
        <i class="fa-regular fa-sliders"></i>
      </button>
    </div>
    <app-items-header [collectionMode]="collectionMode"></app-items-header>
    <app-item class="flex justify-between"
              *ngFor="let item of items | search: searchText | filter: filteredCategories" [item]="item"
              [collectionMode]="collectionMode"></app-item>
  </div>
  <div #filters
       class="h-full overflow-y-scroll bg-white flex flex-col gap-1 py-6 px-10 fixed top-0 right-0 translate-x-full drop-shadow-lg ease-in-out duration-300">
    <div class="flex justify-between">
      <p class="text-3xl">Filters</p>
      <span class="inline hover:text-red-600 hover:cursor-pointer" (click)="handleMenu()"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <app-filter class="grid grid-cols-4 gap-1"
                (filterCategories)="filteredCategories = $event;"
                (numberOfSelectedFilters)="numberOfSelectedFilters = $event;"
                [categories]="categories"></app-filter>
  </div>
</div>
