<thb-reading-section>
  <h2 class="text-center text-4xl mb-7">TerraHub: Explore
    <a href="https://terraria.org" class="underline" target="_blank">Terraria</a> easier!</h2>
  <p class="mb-5">Meet TerraHub, a fan-made web application that exploits useful information about the
    <a href="https://terraria.org" class="underline" target="_blank">Terraria</a>
    video game and serves as a practical tool to use while playing our favourite video game.
  </p>
  <p class="mb-5">TerraHub gathers all its data from the official
    <a href="https://terraria.wiki.gg" class="underline" target="_blank">Terraria Wiki</a> website.
    It aims to bring all the <a href="https://terraria.org" class="underline" target="_blank">Terraria</a>
    data together in one convenient place, making it a practical tool for your gaming adventures.
    Among its best features, TerraHub allows you to easily access lists of all items and <abbr title="Non Playable Characters">NPCs</abbr>
    in the game, while having the flexibility to search and filter them by various categories. It's a handy way to find
    what you need quickly.
  </p>
  <p class="mb-5">
    It's important to note that TerraHub is not affiliated with the creators of
    <a href="https://terraria.org" class="underline" target="_blank">Terraria</a>.
    Instead, it's a project made with love by fans. All the in-game content used on TerraHub belongs to
    <a href="https://re-logic.com/" class="underline" target="_blank">Re-Logic</a>,
    the creators of <a href="https://terraria.org" class="underline" target="_blank">Terraria</a>..
  </p>
  <nav class="flex justify-center gap-10 mt-10">
    <div>
      <h3 class="text-2xl">Terraria Links:</h3>
      <ul>
        <li><a href="https://terraria.org" class="underline" target="_blank">Terraria Website</a></li>
        <li><a href="https://re-logic.com" class="underline" target="_blank">Re-Logic Website</a></li>
        <li><a href="https://terraria.wiki.gg" class="underline" target="_blank">Terraria Wiki</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-2xl">TerraHub Links:</h3>
      <ul>
        <li><a href="https://github.com/ilyasmirnov03" class="underline" target="_blank">Creator's GitHub</a></li>
      </ul>
    </div>
  </nav>
</thb-reading-section>
