/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'Andy-Bold';
  src: url('/assets/andy-bold/Andy-Bold.ttf.woff') format('woff'),
    url('/assets/andy-bold/Andy-Bold.ttf.svg#Andy-Bold') format('svg'),
    url('/assets/andy-bold/Andy-Bold.ttf.eot');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Andy-Bold";
}

@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/forms";

@utility drop-shadow-light {
  box-shadow: 0 16px 6px rgba(255, 255, 255, 0.1);
}
