<header
  class="fixed w-fit h-full z-10 right-0 transition-all shadow-lg px-8 py-3 bg-white
  md:z-0 md:w-full md:h-fit md:bg-transparent md:translate-x-0 md:shadow-none
  dark:bg-neutral-900 dark:md:bg-transparent dark:drop-shadow-light dark:md:drop-shadow-none"
  [ngClass]="{'translate-x-full': isClosed, 'dark:drop-shadow-light': !isClosed}"
  thbClickedOutside
  (clickOutside)="handleMenu(true)">
  <thb-button
    class="flex md:hidden -translate-x-16"
    (click)="handleMenu()">
    <fa-icon icon="chevron-left" class="transition-all pointer-events-none" [rotate]="isClosed ? undefined : 180"></fa-icon>
  </thb-button>
  <nav class="flex justify-end">
    <ul class="flex flex-col md:flex-row items-start md:items-center justify-end gap-8 text-xl w-fit">
      @for (route of routes; track route) {
        <li><a routerLink="{{route.path}}">{{route.name}}</a></li>
      }
      <thb-theme-switcher></thb-theme-switcher>
    </ul>
  </nav>
</header>
