<div class="text-xl p-5 w-full flex justify-center gap-10">
  <div (click)="selectItem($event)">
    <app-item-search></app-item-search>
    <app-items-header></app-items-header>
    <app-item class="{{item.category}} flex justify-between" *ngFor="let item of items" [item]="item"></app-item>
  </div>
  <div (click)="selectCategory($event)" class="h-fit flex flex-col gap-2">
    <app-filter *ngFor="let category of categories" [category]="category"></app-filter>
    <div #visibleItems></div>
  </div>
</div>
