/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Andy-Bold';
  src: url('./assets/andy-bold/Andy-Bold.ttf.woff') format('woff'),
  url('./assets/andy-bold/Andy-Bold.ttf.svg#Andy-Bold') format('svg'),
  url('./assets/andy-bold/Andy-Bold.ttf.eot');
  font-weight: normal;
  font-style: normal;
}

