<header
  class="fixed w-fit h-full z-10 md:z-0 md:w-full md:h-fit right-0 bg-white md:bg-transparent translate-x-full md:translate-x-0 transition-all md:drop-shadow-none drop-shadow-lg px-8"
  #menu>
  <button
    class="rounded bg-gray-100 p-3 h-fit flex md:hidden justify-center items-center hover:bg-gray-200 -translate-x-16"
    (click)="handleMenu()">
    <fa-icon icon="chevron-left" class="transition-all" [ngClass]="{'rotated': isOpened}" ></fa-icon>
  </button>
  <nav class="flex justify-end">
    <ul class="flex flex-col md:flex-row justify-end text-xl w-fit">
      <li class="p-4"><a routerLink="/">Main</a></li>
      <li class="p-4"><a routerLink="/items">Items</a></li>
      <li class="p-4"><a routerLink="/items/collection">Collection</a></li>
      <li class="p-4"><a routerLink="/npcs">NPCs</a></li>
    </ul>
  </nav>
</header>
